.logo__img {
  width: 50px;
}

.friends-card__item__online {
  color: green;
}

.friends-card__item__offline {
  color: grey;
}

.money__img {
  width: 40px;
}

.card__img {
  width: 130px;
  cursor: pointer;
}

.card__img_change {
  filter: grayscale(1);
  transition: 0.05s ease-in-out;
  margin-top: -30px;
}