.logo__img {
  width: 35px;
}

.header {
  &__logo-text {
    color: white !important;
  }
  &__statistic-text {
    color: greenyellow;
  }
  &__logo-text {
    color: orange;
  }
  &__gameover-text {
    color: red;
  }
  &__victory-text {
    color: orange;
  }
  &__user-name {
    color: orange;
  }
}

.friends-card {
  &__item__online {
    color: green;
  }
  &__item__offline {
    color: grey;
  }
}

.money__img {
  width: 40px;
}

.card__img {
  width: 130px;
  cursor: pointer;
}

.card__img_opponent-card_true {
  width: 90px;
}

.card__img_change {
  filter: grayscale(1);
  transition: 0.05s ease-in-out;
  margin-top: -30px;
}

.indicator__circle__status_ready {
  width: 15px;
  height: 15px;
  background: greenyellow;
  border-radius: 50%;
}

.indicator__circle__status_wait {
  width: 15px;
  height: 15px;
  background: orange;
  border-radius: 50%;
}

.slider-tick-label {
  font-size: 10px;
}

// .slider-tick-label-container {
//   margin-top: 30px;
// }

// .slider-horizontal {
//   width: 310px;
// }