.logo__img {
  width: 50px;
}

.friends-card__item__online {
  color: green;
}

.friends-card__item__offline {
  color: grey;
}

.money__img {
  width: 40px;
}

.card__img {
  width: 130px;
  cursor: pointer;
}

.card__img_change {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.05s ease-in-out;
  transition: 0.05s ease-in-out;
  margin-top: -30px;
}

.indicator__circle__status_ready {
  width: 15px;
  height: 15px;
  background: greenyellow;
  border-radius: 50%;
}

.indicator__circle__status_wait {
  width: 15px;
  height: 15px;
  background: orange;
  border-radius: 50%;
}

