.logo__img {
  width: 35px;
  fill: red;
}

.logo__ruble-icon {
  width: 11px;
  height: 12px;
  fill: greenyellow;
}

.logo__ruble-icon_big_width {
  width: 20px;
  height: 22px;
  fill: green;
}

.header__logo-text {
  color: white !important;
}

.header__statistic-text {
  color: greenyellow;
}

.header__logo-text {
  color: orange;
}

.header__gameover-text {
  color: red;
}

.header__victory-text {
  color: orange;
}

.header__user-name {
  color: orange;
}

.friends-card__item__online {
  color: green;
}

.friends-card__item__offline {
  color: grey;
}

.status-text,
.status-text__background_color_orange,
.status-text__background_color_green {
  font-size: 22px;
}

.status-text__background_color_green {
  background-color: #edfbf6;
  color: #32d296;
}

.status-text__background_color_orange {
  background-color: #fff6ee;
  color: #faa05a;
}

.money__icon {
  width: 80px;
  height: 100px;
  fill: green;
}

.money__text,
.money__text_color_blue,
.money__text_color_red {
  font-size: 16px;
}

.money__text_color_red {
  color: dodgerblue;
}

.money__text_color_blue {
  color: lightcoral;
}

.money__total-text {
  font-size: 28px;
  font-weight: 700;
  color: green;
  padding-right: 5px;
}

.money__message {
  color: blue;
}

.card__img {
  width: 15vw;
  cursor: pointer;
}

.card__img_opponent-card_true {
  width: 90px;
}

.card__img_change {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.05s ease-in-out;
  transition: 0.05s ease-in-out;
  margin-top: -25px;
}

.indicator__circle__status_ready {
  width: 15px;
  height: 15px;
  background: greenyellow;
  border-radius: 50%;
}

.indicator__circle__status_wait {
  width: 15px;
  height: 15px;
  background: orange;
  border-radius: 50%;
}

.slider-tick-label {
  font-size: 10px;
}

.slider-horizontal {
  width: 320px !important;
}

.cards-list-move {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.cards-list-item {
  -webkit-transition: all 1s;
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}

.cards-list-enter,
.cards-list-leave-to {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.cards-list-leave-active {
  position: absolute;
}

